*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto' , sans-serif;

}

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.box {
  flex-grow: 1;
  background-position: center;
  background-size: cover;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  transition: ease-in-out 1s;
}

.box a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-decoration: none;
    font-weight: 600;
    font-size: 0;
    color: white;
    text-shadow: 1px 1px 10px black;
    transition: ease-in-out 1s;
}

.box:hover a {
    font-size: 3rem;
}


.box:hover {
    flex-grow: 15;
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%); 
}

.box:nth-child(1) {
    background-image: url(../img/car1.jpg);
}

.box:nth-child(2) {
    background-image: url(../img/car2.jpg);
}

.box:nth-child(3) {
    background-image: url(../img/car3.jpg);
}

.box:nth-child(4) {
    background-image: url(../img/car4.jpg);
}

.box:nth-child(5) {
    background-image: url(../img/car5.jpg);
}

@media (max-width:768px) {
    #container {

        display: flex;
        flex-direction: column;
    }
}